{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class="mt-4 mb-4">News Feed</h1>

    {% for news_item in news_items %}
    <!--Section: News Item-->
    <div class="row gx-5">
        <div class="col-md-6 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="{{ news_item.image_url }}" class="img-fluid" />
                <a href="{{ news_item.url }}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">{{ news_item.source }}</span>
            <h4><strong>{{ news_item.title }}</strong></h4>
            {% if news_item.entities.first.highlights.first %}
                <h6 class="text-muted">Sentiment Score: {{ news_item.relevance_score }}</h6>
            {% endif %}
            <p class="text-muted">{{ news_item.description }}</p>
            <button type="button" class="btn btn-primary" onclick="location.href='{{ news_item.url }}'">Read more</button>
        </div>
    </div>
    <!--Section: News Item-->

    {% endfor %}
</div>

</body>
</html>